#map{
  background-image: url('../img/map.png');
  width: 1127px;
  height: 677px;
  z-index: 1;
  position: relative;
}

#robot{
  background-image: url('../img/robot.png');
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 2;
}

.cp{
  background-image: url('../img/cp.png');
  width: 10px;
  height: 10px;
  position: relative;
  z-index: 3;
}

#tableContainer{
  width: 300px;
  height: 160px;
  z-index: 100;
  background-color: rgba(170, 170, 170, 0.8);
  position: absolute;
  top: 8px;
  left: 835px;
}